<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue de peliculas por {{ caracteristica }}</title>
</head>
<body>
    
    <h1>Despliegue por {{ caracteristica }}</h1>

    {% if listaPeliculas %}

    <table border="1px">
        <tr>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Estreno</th>
            <th>Sinopsis</th>
        </tr>

        {% for pelicula in listaPeliculas %}
            <tr>
                <td>{{pelicula.titulo}}</td>
                <td><img src="{{pelicula.url_imagen}}" alt=""></td>
                <td>{{pelicula.fecha_estreno}}</td>
                <td>{{pelicula.sinopsis}}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}

    <h2>No hay peliculas con esas caracteristicas</h2>

{% endif %}

</body>
</html>