<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de películas</title>
</head>
<body>
    <h1>Pagina de películas</h1>

    <ul>
        <li><a href="/desplegar-todas">Desplegar todas las peliculas</a></li>
        <li><a href="/buscar-por-titulo">Buscar peliculas por titulo</a></li>
        <li><a href="/buscar-por-sinopsis">Buscar películas por su sinopsis</a></li>
        <li><a href="/buscar-por-mes">Buscar películas por mes</a></li>
        <li><a href="/registrar">Registrar peliculas</a></li>


    </ul>

</body>
</html>